<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body" id="modal-body">
        <img class="drop-shadow img-brdr" ng-src="{{src}}" width="100%" height="auto">
    </div>
</script>

<!--    Content  -->
<section id="content" ng-controller="contentCtrl">
    <div class="container section-padding">
        <div class="row text-center">
            <div class="col-xs-4" ng-click="contentShown = 1">
                <img class="img-circle drop-shadow" ng-class="contentShown == 1 ? 'content-image' : 'content-image-inactive'" src="assets/img/2d.png">
                <h4>2D Design</h4>
            </div>
            <div class="col-xs-4" ng-click="contentShown = 2">
                <img class="img-circle drop-shadow" ng-class="contentShown == 2 ? 'content-image' : 'content-image-inactive'" src="assets/img/mobile.png">
                <h4>{{"MOBILE" | translate}}</h4>
            </div>
            <div class="col-xs-4" ng-click="contentShown = 3">
                <img class="img-circle drop-shadow" ng-class="contentShown == 3 ? 'content-image' : 'content-image-inactive'" src="assets/img/3d.png">
                <h4>3D Design</h4>
            </div>
        </div>
        <row>
            <div class="col-md-12 col-xs-12" ng-show="contentShown == 1">
                <hr>
                <span class="col-md-6 col-xs-12" style="padding: 5px;"><img ng-click="open('md',contentSrcs.twod[0])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.twod[0]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.twod[1])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.twod[1]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.twod[2])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.twod[2]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.twod[3])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.twod[3]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.twod[4])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.twod[4]}}" width="100%" height="auto"></span>
            </div>
            <div class="col-md-12 col-xs-12" ng-show="contentShown == 2">
                <hr>
                <span class="col-md-6 col-xs-12" style="padding: 5px;"><img ng-click="open('md',contentSrcs.mobile[4])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.mobile[4]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.mobile[1])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.mobile[1]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.mobile[2])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.mobile[2]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.mobile[3])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.mobile[3]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.mobile[0])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.mobile[0]}}" width="100%" height="auto"></span>
            </div>
            <div class="col-md-12 col-xs-12" ng-show="contentShown == 3">
                <hr>
                <span class="col-md-6 col-xs-12" style="padding: 5px;"><img ng-click="open('md',contentSrcs.threed[0])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.threed[0]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.threed[1])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.threed[1]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.threed[2])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.threed[2]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.threed[3])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.threed[3]}}" width="100%" height="auto"></span>
                <span class="col-md-3 col-xs-6" style="padding: 5px;"><img ng-click="open('md',contentSrcs.threed[4])" class="drop-shadow img-brdr" ng-src="{{contentSrcs.threed[4]}}" width="100%" height="auto"></span>
            </div>
        </row>
    </div>
</section>