<style>
    header {
        position: relative;
        width: 100%;
        min-height: auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-image: url('assets/img/header.jpg');
        text-align: center;
        color: white;
    }
    header .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
    }
    header .header-content .header-content-inner h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
    }
    header .header-content .header-content-inner hr {
        margin: 30px auto;
    }
    header .header-content .header-content-inner p {
        font-weight: 300;
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        margin-bottom: 50px;
    }
    @media (min-width: 768px) {
        header {
            min-height: 100%;
        }
        header .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
        }
        header .header-content .header-content-inner {
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
        header .header-content .header-content-inner h1 {
            font-size: 50px;
        }
        header .header-content .header-content-inner p {
            font-size: 18px;
            font-weight: normal;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>
<header class="drop-shadow">
    <div style="padding: 10px 20px;">
        <div class="btn-group pull-right">
            <button class="btn btn-sm btn-line-orange" ng-class="nlActive ? 'btn-line-orange-active' : ''" ng-click="onLanguageChange('nl')">NL</button>
            <button class="btn btn-sm btn-line-orange" ng-class="!nlActive ? 'btn-line-orange-active' : ''" ng-click="onLanguageChange('en')">EN</button>
        </div>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="txt-white">Dennis Muijs</h1>
            <hr class="brdr-orange">
            <p>{{quote.txt}}<br><cite>-{{quote.src}}</cite></p>
            <!--<a ng-href="#about" class="btn btn-warning btn-xl page-scroll">{{"CONTINUE" | translate}}</a>-->
        </div>
    </div>
</header>