html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bg-orange {
    background-color: #ff9800;
}
.bg-sub-orange {
    background-color: #ffe0b2;
}
.txt-orange {
    color: #ff9800;
}
.brdr-orange {
    border-color: #ff9800;
}
.txt-white {
    color: #ffffff;
}

.btn-bottom-border, .btn-bottom-border:hover, .btn-bottom-border:active, .btn-bottom-border:visited {
    border-bottom: 2px solid white;
    border-radius: 0;
    box-shadow: none;
    color: white;
}
.btn-bottom-border-dark, .btn-bottom-border-dark:hover, .btn-bottom-border-dark:active, .btn-bottom-border-dark:visited {
    border-bottom: 2px solid #666666;
    border-radius: 0;
    box-shadow: none;
    color: #666666;
}
.btn-line-white, .btn-line-white:hover, .btn-line-white:active, .btn-line-white:visited {
    border: 1px solid #FFFFFF;
    box-shadow: none;
    color: #FFFFFF;
}
.btn-line-orange, .btn-line-orange:hover, .btn-line-orange:active, .btn-line-orange:visited {
    background: none;
    border: 1px solid #ff9800;
    box-shadow: none;
    color: #ff9800;
}
.btn-line-orange-active, .btn-line-orange-active:hover, .btn-line-orange-active:active, .btn-line-orange-active:visited {
    background-color: #ff9800;
    border: 1px solid #ff9800;
    box-shadow: none;
    color: #666666;
 }

.top-section-padding {
    padding-top: 75px;
}
.section-padding {
    padding-top: 75px;
    padding-bottom: 75px;
}

.drop-shadow {
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.img-brdr {
    border:5px white solid;
}

.td-vertical-middle {
    vertical-align:middle !important;
}
td {
    border-top: none !important;
}
.content-image {
    max-height:175px;
    max-width:175px;
    min-height:100px;
    min-width:100px;
    width:100%;
    height:100%;
}
.content-image-inactive {
    max-height:125px;
    max-width:125px;
    min-height:90px;
    min-width:90px;
    width:100%;
    height:100%;
    -webkit-filter: grayscale(75%); /* Safari 6.0 - 9.0 */
    filter: grayscale(75%);
}