<section class="bg-orange drop-shadow" id="contact">
    <div class="container section-padding">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 txt-white">
                <h3 class="txt-white">{{"CONTACT_CONTACT" | translate}}</h3>
                <p>{{"CONTACT_REACHABLE" | translate}}</p>
                <hr>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <table class="table txt-white" width="100%">
                    <tr>
                        <td><label>{{"CONTACT_EMAIL" | translate}}:</label></td>
                        <td class="pull-right"><p>info@dennismuys.nl</p></td>
                        <td width="130px" style="padding-top:0px;">
                            <a class="btn btn-lg btn-line-white pull-right" style="border-radius: 100px;" ng-href="mailto:info@dennismuys.nl"><span class="glyphicon glyphicon-envelope"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td><label>{{"CONTACT_MOBILE" | translate}}:</label></td>
                        <td class="pull-right"><p>06 13048047</p></td>
                        <td width="130px" style="padding-top:0px;">
                            <a class="btn btn-lg btn-line-white pull-right" style="border-radius: 100px;" ng-href="tel:0613048047"><span class="glyphicon glyphicon-phone"></span></a>
                            <a class="btn btn-lg btn-line-white pull-right" style="border-radius: 100px; margin-right: 8px;" ng-href="sms:0613048047" ng-hide="!isMobile"><span class="glyphicon glyphicon-comment"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td><label>{{"CONTACT_TELEPHONE" | translate}}:</label></td>
                        <td class="pull-right"><p>0348 564218</p></td>
                        <td width="130px" style="padding-top:0px;">
                            <a class="btn btn-lg btn-line-white pull-right" style="border-radius: 100px;" ng-href="tel:0348564218"><span class="glyphicon glyphicon-earphone"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
            <hr class="visible-xs visible-sm">
            <div class="col-md-5">
                <table class="table txt-white" width="100%">
                    <tr>
                        <td><label>{{"CONTACT_ADRESS" | translate}}:</label></td>
                        <td class="pull-right">Twijnen 38</td>
                        <td class="td-vertical-middle" rowspan="3" width="60px">
                            <a class="btn btn-lg btn-line-white pull-right" style="border-radius: 100px;" ng-href="https://www.google.nl/maps/place/Twijnen+38+Oudewater" target="_blank"><span class="glyphicon glyphicon-road"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="pull-right">3421JN Oudewater</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="pull-right">{{"CONTACT_THE_NETHERLANDS" | translate}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-offset-1 col-md-10 txt-white text-center">
                <hr>
                <a target="_blank" ng-href="https://nl.linkedin.com/in/dennis-muijs"><img class="img-circle drop-shadow" height="64px" width="64px" src="assets/img/linkedin.png"></a>
                <a target="_blank" ng-href="https://www.facebook.com/dennis.muys.9"><img class="img-circle drop-shadow" height="64px" width="64px" src="assets/img/facebook.png"></a>
                <a target="_blank" ng-href="https://twitter.com/dennismuijs"><img class="img-circle drop-shadow" height="64px" width="64px" src="assets/img/twitter.png"></a>
                <a target="_blank" ng-href="https://www.instagram.com/dennismuijs/"><img class="img-circle drop-shadow" height="64px" width="64px" src="assets/img/instagram.png"></a>
            </div>
        </div>
    </div>
</section>