<style>
    .bg-left {
        height: 418px;
        background-image: url('assets/img/leftbgD.png');
        background-position: center left;
        background-repeat: no-repeat;
    }
    .bg-right {
        height: 418px;
        background-image: url('assets/img/rightbgD.png');
        background-position: center right;
        background-repeat: no-repeat;
    }
    .about-icons {
        max-height: 75px;
        max-width: 75px;
        height: 15%;
        width: 15%;
    }
</style>


<section class="bg-orange drop-shadow">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-sm-4 hidden-xs txt-white bg-left"></div>
            <div class="col-xs-12 col-sm-4" style="padding-top:50px; padding-bottom: 50px;">
                <img class="img-circle drop-shadow img-brdr" height="200" width="200" src="assets/img/dennis.JPG"><br><br>
                <a class="btn btn-lg btn-bottom-border-dark" ng-click="isCollapsed = !isCollapsed">{{"ABOUT_ME" | translate}}</a><br>
                <p style="font-size: 18px; color: #666666;"><span class=" glyphicon" ng-class="isCollapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"></span></p>
            </div>
            <div class="col-sm-4 hidden-xs txt-white bg-right"></div>
        </div>
    </div>
</section>

<section uib-collapse="isCollapsed" class="bg-sub-orange drop-shadow" id="about_extended">
    <div class="container section-padding">
        <div class="row text-center">
            <div class="col-md-12">
                <p>
                    {{"ABOUT_SANDBOXES" | translate}}<br>
                    {{"ABOUT_CARDBOARD" | translate}}<br>
                    {{"ABOUT_PRESCHOOL" | translate}}<br>
                    {{"ABOUT_POLISHING" | translate}}
                </p>
                <hr style="border-color:#666666;">
                <p>
                    {{"ABOUT_EDUCATION" | translate}}<br>
                    {{"ABOUT_FANTASY" | translate}}<br>
                    {{"ABOUT_PROGRAMS" | translate}}
                </p>
                <img class="about-icons" style=" margin-right: 20px;" src="assets/img/3dsmax.png" popover-animation="true" uib-popover="6/10" popover-trigger="'mouseenter'">
                <img class="about-icons" style=" margin-right: 20px;" src="assets/img/unity.png" popover-animation="true" uib-popover="7/10" popover-trigger="'mouseenter'">
                <img class="about-icons" style=" margin-right: 20px;" src="assets/img/Photoshop.png" popover-animation="true" uib-popover="8/10" popover-trigger="'mouseenter'">
                <img class="about-icons" src="assets/img/illustrator.png" popover-animation="true" uib-popover="7/10" popover-trigger="'mouseenter'">
                <hr style="border-color:#666666;">
                <p>
                    {{"ABOUT_DEVELOPER" | translate}}<br>
                    {{"ABOUT_DOCUMENTATION" | translate}}<br>
                    {{"ABOUT_TECHNIQUES" | translate}}
                </p>
                <img class="about-icons" style=" margin-right: 20px;" src="assets/img/html5.png" popover-animation="true" uib-popover="8/10" popover-trigger="'mouseenter'">
                <img class="about-icons" style=" margin-right: 20px;" src="assets/img/css3.png" popover-animation="true" uib-popover="8/10" popover-trigger="'mouseenter'">
                <img class="about-icons" style=" margin-right: 20px;" src="assets/img/angular.png" popover-animation="true" uib-popover="8/10" popover-trigger="'mouseenter'">
                <img class="about-icons" src="assets/img/git.png" popover-animation="true" uib-popover="7/10" popover-trigger="'mouseenter'">
                <hr style="border-color:#666666;">
                <p>
                    {{"ABOUT_ACTIVE" | translate}}<br>
                    {{"ABOUT_EXCITING" | translate}}<br>
                    {{"ABOUT_LOOK" | translate}}
                </p>
                <a class="btn btn-lg btn-bottom-border-dark" ng-click="isCollapsed = !isCollapsed">{{"CLOSE" | translate}}</a><br>
                <p style="font-size: 18px"><span class=" glyphicon glyphicon-chevron-up"></span></p>
            </div>
        </div>
    </div>
</section>